deepamehta-db/
deepamehta-files/
runner/
target/
bundle-deploy/
bundle-disabled/
modules/dmx-webclient/src/main/resources/web/
modules-external/
modules-nodejs/
node_modules/

*~
.project
.classpath
.settings
.shell_history
.DS_Store

npm-debug.log
npm-debug.log.*
stats*.json

commit-message.txt

*.tmproj
*.sublime-project
*.sublime-workspace
