/dmx-db/
/dmx-*-db/
/dmx-files/
/runner/
/bundle-deploy/
/bundle-disabled/
/modules-external/
/modules-nodejs/

target/
node_modules/

*~
.project
.classpath
.settings
.shell_history
.DS_Store

npm-debug.log
npm-debug.log.*
stats*.json

commit-message.txt

*.tmproj
*.sublime-project
*.sublime-workspace

*.bak