#about-dialog {
    font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    line-height: 1.6em;
}

#about-dialog table {
    border-spacing: 3em;
}

#about-dialog table tr {
    vertical-align: top;
}

#about-dialog img {
    position: relative;
    left: -1em;
}

#about-dialog a:link,
#about-dialog a:visited {
    color: blue;
}
