#assoc-def-editors {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
}

.assoc-def-editor {
    padding: 0.4em 0.7em;
    margin-right: 0.4em;
}

.assoc-def-editor + .assoc-def-editor {
    margin-top: 0.4em;
}

.assoc-def-editor .label {
    margin-right: 0.7em;
}

.assoc-def-editor .child-type-label {
    color: black;
    font-weight: bold;
}

.assoc-def-editor input[type=checkbox] {
    margin-left: 3em;
    margin-right: 0.7em;
}

.assoc-def-editor input.combobox {
    width: 50% !important;
}
