/* TODO: adapt to DM5 */

/* === Person Name === */

.dmx\.contacts\.person_name > .dmx\.contacts\.first_name,
.dmx\.contacts\.person_name > .dmx\.contacts\.last_name {
    display: inline-block;
    vertical-align: top;
}

.dmx\.contacts\.person_name > .dmx\.contacts\.last_name {
    margin-top: 0 !important;
    margin-left: 1.5em;
}

/* Form */

.dmx\.contacts\.person_name > .dmx\.contacts\.first_name input,
.dmx\.contacts\.person_name > .dmx\.contacts\.last_name  input {
    width: 10em !important;
}


/* === Address === */

.dmx\.contacts\.address > .dmx\.contacts\.postal_code,
.dmx\.contacts\.address > .dmx\.contacts\.city {
    display: inline-block;
    vertical-align: top;
}

.dmx\.contacts\.address > .dmx\.contacts\.city {
    margin-left: 1.5em;
}

/* Form */

.dmx\.contacts\.address > .dmx\.contacts\.postal_code input {
    width: 4em !important;
}

.dmx\.contacts\.address > .dmx\.contacts\.city  input {
    width: 12em !important;
}
