/* === Date === */

.dmx\.datetime\.date > .dmx\.datetime\.month,
.dmx\.datetime\.date > .dmx\.datetime\.day,
.dmx\.datetime\.date > .dmx\.datetime\.year {
    display: inline-block;
    vertical-align: top;
}

.dmx\.datetime\.date > .dmx\.datetime\.day,
.dmx\.datetime\.date > .dmx\.datetime\.year {
    margin-top: 0 !important;
    margin-left: 1em;
}

/* Form */

.dmx\.datetime\.month input,
.dmx\.datetime\.day   input {
    width: 2em !important;
}

.dmx\.datetime\.year input {
    width: 3em !important;
}


/* === Time === */

.dmx\.datetime\.time > .dmx\.datetime\.hour,
.dmx\.datetime\.time > .dmx\.datetime\.minute {
    display: inline-block;
    vertical-align: top;
}

.dmx\.datetime\.time > .dmx\.datetime\.minute {
    margin-top: 0 !important;
    margin-left: 1em;
}

/* Form */

.dmx\.datetime\.hour   input,
.dmx\.datetime\.minute input {
    width: 2em !important;
}
