#about-dialog {
    font-size: 0.9em;
}

#about-dialog table {
    border-spacing: 3em;
}

#about-dialog table tr {
    vertical-align: top;
}

#about-dialog img {
    position: relative;
    left: -1em;
}

#about-dialog a:link,
#about-dialog a:visited {
    color: blue;
}

#about-dialog .contributors {
    line-height: 1.6em;
}

#about-dialog .field-label ~ .field-label {
    margin-top: 1.3em;
}
