#login-widget {
    position: absolute;
    top: 0.3em;
    right: 1em;
    font-size: 60%;
}

#login-message {
    font-weight: bold;
    margin-top: 1em;
}

.login-ok {
    color: green;
}

.login-failed {
    color: red;
}
