body {
    font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
}

/*** Main Toolbar ***/

#main-toolbar {
    background: #ddd;
    padding: 0.35em;
}

#main-toolbar input[type=text] {
    margin: 0;
    height: 1.3em;
}

#search-widget {
    float: left;
    margin-right: 3em;
}

#create-widget {
    float: left;
    margin-right: 3em;
}

/*** Split Panel ***/

#split-panel {
    border-spacing: 0;
}

#split-panel > tbody > tr > td {
    padding: 0;
    vertical-align: top;
}

/*** Canvas ***/

#canvas {
    background: #f8f8f8;
}

/*** Page Panel ***/

#page-panel {
    margin-left: 1.6em;
}

#page-toolbar {
    margin-top: 1.1em;
}

#page-toolbar button {
    margin-right: 1em;
}

.splash {
    background-image: url("../images/deepamehta-logo.png");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
}

/*** Page Panel Content ***/

#page-content {
    width: 30em;
}

#page-content p, ul, ol {
    margin-top: 0;
    margin-bottom: 0.7em;
    line-height: 1.6em;
}

#page-content pre {
    /* Relative or no font-size results in different sizes in Safari and Firefox */
    font-size: 16px;
    line-height: 1.3em;
    white-space: pre-wrap;
}

#page-content .menu {
    line-height: 1.8em;
}

.field-label {
    font-size: 75%;
    color: gray;
    margin-bottom: 0.2em;
}

#page-content > .field-label {
    margin-top: 16px;
}

/*** Page Panel Boxes ***/

#page-content .box {
    position: relative;
}

#page-content .box + .box {
    margin-top: 1em;
}

#page-content .box.level1,
#page-content .box.level2,
#page-content .box.level3,
#page-content .box.level4,
#page-content .box.level5 {
    padding: 0.6em;
}

#page-content > .box {
    margin-top: 1em;
}

#page-content .box.level0 {background: #ffffff;}
#page-content .box.level1 {background: #f4f4f4;}
#page-content .box.level2 {background: #e8e8e8;}
#page-content .box.level3 {background: #dcdcdc;}
#page-content .box.level4 {background: #d0d0d0;}
#page-content .box.level5 {background: #c4c4c4;}

/*** Page Panel Form ***/

#page-content input[type=text],
#page-content textarea {
    margin: 0;
    width: 97%;
    font-size: 1em;
}

#page-content textarea {
    /* Firefox: default font in textarea is courier */
    font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    line-height: 1.6em;
}

#page-content input.combobox {
    width: 75%;
    vertical-align: middle;
}

#page-content .add-button {
    text-align: right;
    margin-bottom: 0.6em;
}

#page-content .remove-button {
    position: absolute;
    top: 0;
    right: 0;
}

/*** Topic Lists ***/

.topic-list {
    border-spacing: 0;
}

.topic-list:first-child {
    margin-top: 1em;
}

.topic-list > tbody > tr > td {
    padding: 0.3em 0;
    vertical-align: top;
}

.topic-list p {
    line-height: 1.2em;
    margin-bottom: 0.6em;
}

.topic-list .type-icon {
    padding-left: 1em;
    padding-right: 0.75em;
    width: 24px;
}

.topic-list .supplement-text {
    font-size: 75%;
    line-height: 1.5em;
}

/*** Association Page ***/

.assoc-role {
    background: #f4f4f4;
    padding: 0.6em;
}

.assoc-role + .assoc-role {
    margin-top: 0.6em;
}

.assoc-role .field-label {
    margin-top: 1em;
}

/*** Dialog Boxes ***/

.ui-dialog-content .field-label {
    margin-top: 1em;
}

/*** Icons ***/

.type-icon {
    border-style: none;
    vertical-align: middle;
}

.menu-icon {
    border-style: none;
    vertical-align: middle;
    padding-right: 12px;
    width: 24px;
}

/*** Menus ***/

.menu {
    position: fixed;
    background: white;
    border: 1px solid darkgray;
    font-size: 85%;
    font-weight: bold;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    z-index: 2000;  /* jQuery UI's resizable-handle has 1000 */
    overflow: hidden;
    display: none;
}

.menu a {
    color: black;
    text-decoration: none;
    display: block;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.menu a.hover {
    color: white;
    background: #555;
}

.menu hr {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.scroll-area {
    position: fixed;
    height: 0.9em;
    background: #f0f0f0;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid darkgray;
    z-index: 2000;  /* jQuery UI's resizable-handle has 1000 */
    display: none;
}

.scroll-area.top {
    top: 0;
    background-image: url("../images/triangle-up.png");
}

.scroll-area.bottom {
    bottom: 0;
    background-image: url("../images/triangle-down.png");
}

/*** Autocomplete List ***/

.autocomplete-list {
    position: absolute;
    background: white;
    border: 1px solid darkgray;
    display: none;
}

.autocomplete-list a {
    color: black;
    text-decoration: none;
    display: block;
    padding-left: 0.6em;
    padding-right: 0.6em;
}

.autocomplete-list .active {
    color: white;
    background: #555;
}
